USE [master]
GO

IF DB_ID(N'AIUBCourseScheduleDB') IS NULL
BEGIN
    CREATE DATABASE [AIUBCourseScheduleDB];
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AIUBCourseScheduleDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AIUBCourseScheduleDB]
GO
/****** Object:  Table [dbo].[AcademicTerms]    Script Date: 8/28/2026 2:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicTerms](
	[TermId] [int] IDENTITY(1,1) NOT NULL,
	[TermName] [nvarchar](100) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TermId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassMeetings]    Script Date: 8/28/2026 2:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassMeetings](
	[MeetingId] [int] IDENTITY(1,1) NOT NULL,
	[OfferingId] [int] NOT NULL,
	[MeetingDay] [nvarchar](20) NOT NULL,
	[StartTime] [time](0) NOT NULL,
	[EndTime] [time](0) NOT NULL,
	[Room] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MeetingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseOfferings]    Script Date: 8/28/2026 2:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseOfferings](
	[OfferingId] [int] IDENTITY(1,1) NOT NULL,
	[TermId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[ImportId] [int] NULL,
	[SourceClassId] [nvarchar](50) NOT NULL,
	[Section] [nvarchar](50) NOT NULL,
	[OfferingStatus] [nvarchar](30) NULL,
	[Capacity] [int] NULL,
	[EnrolledCount] [int] NULL,
	[OfferingType] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OfferingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 8/28/2026 2:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[CourseCode] [nvarchar](50) NULL,
	[CourseTitle] [nvarchar](255) NOT NULL,
	[Department] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExcelImports]    Script Date: 8/28/2026 2:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcelImports](
	[ImportId] [int] IDENTITY(1,1) NOT NULL,
	[TermId] [int] NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FileHash] [char](64) NOT NULL,
	[UploadedBy] [nvarchar](100) NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[TotalRows] [int] NOT NULL,
	[ValidRows] [int] NOT NULL,
	[InvalidRows] [int] NOT NULL,
	[ImportStatus] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleRequestItems]    Script Date: 8/28/2026 2:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleRequestItems](
	[RequestItemId] [int] IDENTITY(1,1) NOT NULL,
	[RequestId] [int] NOT NULL,
	[OfferingId] [int] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleRequests]    Script Date: 8/28/2026 2:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[StudentUserId] [int] NOT NULL,
	[TermId] [int] NOT NULL,
	[ScheduleName] [nvarchar](100) NULL,
	[RequestStatus] [nvarchar](20) NOT NULL,
	[SubmittedAt] [datetime2](7) NOT NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[ReviewedByUserId] [int] NULL,
	[AdminComment] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/28/2026 2:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[StudentId] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[UserRole] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AcademicTerms] ON 

INSERT [dbo].[AcademicTerms] ([TermId], [TermName], [StartDate], [EndDate], [IsActive]) VALUES (1, N'Fall 2026-2027', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[AcademicTerms] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_AcademicTerms_TermName]    Script Date: 8/28/2026 2:32:00 PM ******/
ALTER TABLE [dbo].[AcademicTerms] ADD  CONSTRAINT [UQ_AcademicTerms_TermName] UNIQUE NONCLUSTERED 
(
	[TermName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ClassMeetings_Schedule]    Script Date: 8/28/2026 2:32:00 PM ******/
ALTER TABLE [dbo].[ClassMeetings] ADD  CONSTRAINT [UQ_ClassMeetings_Schedule] UNIQUE NONCLUSTERED 
(
	[OfferingId] ASC,
	[MeetingDay] ASC,
	[StartTime] ASC,
	[EndTime] ASC,
	[Room] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CourseOfferings_Term_Class]    Script Date: 8/28/2026 2:32:00 PM ******/
ALTER TABLE [dbo].[CourseOfferings] ADD  CONSTRAINT [UQ_CourseOfferings_Term_Class] UNIQUE NONCLUSTERED 
(
	[TermId] ASC,
	[SourceClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Courses_Title_Department]    Script Date: 8/28/2026 2:32:00 PM ******/
ALTER TABLE [dbo].[Courses] ADD  CONSTRAINT [UQ_Courses_Title_Department] UNIQUE NONCLUSTERED 
(
	[CourseTitle] ASC,
	[Department] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ExcelImports_Term_FileHash]    Script Date: 8/28/2026 2:32:00 PM ******/
ALTER TABLE [dbo].[ExcelImports] ADD  CONSTRAINT [UQ_ExcelImports_Term_FileHash] UNIQUE NONCLUSTERED 
(
	[TermId] ASC,
	[FileHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ScheduleRequestItems_Request_Offering]    Script Date: 8/28/2026 2:32:00 PM ******/
ALTER TABLE [dbo].[ScheduleRequestItems] ADD  CONSTRAINT [UQ_ScheduleRequestItems_Request_Offering] UNIQUE NONCLUSTERED 
(
	[RequestId] ASC,
	[OfferingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 8/28/2026 2:32:00 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Users_StudentId]    Script Date: 8/28/2026 2:32:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Users_StudentId] ON [dbo].[Users]
(
	[StudentId] ASC
)
WHERE ([StudentId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AcademicTerms] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CourseOfferings] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ExcelImports] ADD  DEFAULT (sysdatetime()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[ExcelImports] ADD  DEFAULT ((0)) FOR [TotalRows]
GO
ALTER TABLE [dbo].[ExcelImports] ADD  DEFAULT ((0)) FOR [ValidRows]
GO
ALTER TABLE [dbo].[ExcelImports] ADD  DEFAULT ((0)) FOR [InvalidRows]
GO
ALTER TABLE [dbo].[ExcelImports] ADD  DEFAULT ('Pending') FOR [ImportStatus]
GO
ALTER TABLE [dbo].[ScheduleRequestItems] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[ScheduleRequests] ADD  DEFAULT ('Pending') FOR [RequestStatus]
GO
ALTER TABLE [dbo].[ScheduleRequests] ADD  DEFAULT (sysdatetime()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Student') FOR [UserRole]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ClassMeetings]  WITH CHECK ADD  CONSTRAINT [FK_ClassMeetings_CourseOfferings] FOREIGN KEY([OfferingId])
REFERENCES [dbo].[CourseOfferings] ([OfferingId])
GO
ALTER TABLE [dbo].[ClassMeetings] CHECK CONSTRAINT [FK_ClassMeetings_CourseOfferings]
GO
ALTER TABLE [dbo].[CourseOfferings]  WITH CHECK ADD  CONSTRAINT [FK_CourseOfferings_AcademicTerms] FOREIGN KEY([TermId])
REFERENCES [dbo].[AcademicTerms] ([TermId])
GO
ALTER TABLE [dbo].[CourseOfferings] CHECK CONSTRAINT [FK_CourseOfferings_AcademicTerms]
GO
ALTER TABLE [dbo].[CourseOfferings]  WITH CHECK ADD  CONSTRAINT [FK_CourseOfferings_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[CourseOfferings] CHECK CONSTRAINT [FK_CourseOfferings_Courses]
GO
ALTER TABLE [dbo].[CourseOfferings]  WITH CHECK ADD  CONSTRAINT [FK_CourseOfferings_ExcelImports] FOREIGN KEY([ImportId])
REFERENCES [dbo].[ExcelImports] ([ImportId])
GO
ALTER TABLE [dbo].[CourseOfferings] CHECK CONSTRAINT [FK_CourseOfferings_ExcelImports]
GO
ALTER TABLE [dbo].[ExcelImports]  WITH CHECK ADD  CONSTRAINT [FK_ExcelImports_AcademicTerms] FOREIGN KEY([TermId])
REFERENCES [dbo].[AcademicTerms] ([TermId])
GO
ALTER TABLE [dbo].[ExcelImports] CHECK CONSTRAINT [FK_ExcelImports_AcademicTerms]
GO
ALTER TABLE [dbo].[ScheduleRequestItems]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleRequestItems_Offering] FOREIGN KEY([OfferingId])
REFERENCES [dbo].[CourseOfferings] ([OfferingId])
GO
ALTER TABLE [dbo].[ScheduleRequestItems] CHECK CONSTRAINT [FK_ScheduleRequestItems_Offering]
GO
ALTER TABLE [dbo].[ScheduleRequestItems]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleRequestItems_Request] FOREIGN KEY([RequestId])
REFERENCES [dbo].[ScheduleRequests] ([RequestId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleRequestItems] CHECK CONSTRAINT [FK_ScheduleRequestItems_Request]
GO
ALTER TABLE [dbo].[ScheduleRequests]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleRequests_AcademicTerms] FOREIGN KEY([TermId])
REFERENCES [dbo].[AcademicTerms] ([TermId])
GO
ALTER TABLE [dbo].[ScheduleRequests] CHECK CONSTRAINT [FK_ScheduleRequests_AcademicTerms]
GO
ALTER TABLE [dbo].[ScheduleRequests]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleRequests_ReviewedBy] FOREIGN KEY([ReviewedByUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ScheduleRequests] CHECK CONSTRAINT [FK_ScheduleRequests_ReviewedBy]
GO
ALTER TABLE [dbo].[ScheduleRequests]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleRequests_Student] FOREIGN KEY([StudentUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[ScheduleRequests] CHECK CONSTRAINT [FK_ScheduleRequests_Student]
GO
ALTER TABLE [dbo].[ClassMeetings]  WITH CHECK ADD  CONSTRAINT [CK_ClassMeetings_Time] CHECK  (([EndTime]>[StartTime]))
GO
ALTER TABLE [dbo].[ClassMeetings] CHECK CONSTRAINT [CK_ClassMeetings_Time]
GO
ALTER TABLE [dbo].[CourseOfferings]  WITH CHECK ADD  CONSTRAINT [CK_CourseOfferings_Capacity] CHECK  (([Capacity] IS NULL OR [Capacity]>=(0)))
GO
ALTER TABLE [dbo].[CourseOfferings] CHECK CONSTRAINT [CK_CourseOfferings_Capacity]
GO
ALTER TABLE [dbo].[CourseOfferings]  WITH CHECK ADD  CONSTRAINT [CK_CourseOfferings_EnrolledCount] CHECK  (([EnrolledCount] IS NULL OR [EnrolledCount]>=(0)))
GO
ALTER TABLE [dbo].[CourseOfferings] CHECK CONSTRAINT [CK_CourseOfferings_EnrolledCount]
GO
ALTER TABLE [dbo].[ExcelImports]  WITH CHECK ADD  CONSTRAINT [CK_ExcelImports_Status] CHECK  (([ImportStatus]='Failed' OR [ImportStatus]='Completed' OR [ImportStatus]='Pending'))
GO
ALTER TABLE [dbo].[ExcelImports] CHECK CONSTRAINT [CK_ExcelImports_Status]
GO
ALTER TABLE [dbo].[ScheduleRequestItems]  WITH CHECK ADD  CONSTRAINT [CK_ScheduleRequestItems_DisplayOrder] CHECK  (([DisplayOrder]>=(0)))
GO
ALTER TABLE [dbo].[ScheduleRequestItems] CHECK CONSTRAINT [CK_ScheduleRequestItems_DisplayOrder]
GO
ALTER TABLE [dbo].[ScheduleRequests]  WITH CHECK ADD  CONSTRAINT [CK_ScheduleRequests_Status] CHECK  (([RequestStatus]='Rejected' OR [RequestStatus]='Approved' OR [RequestStatus]='Pending'))
GO
ALTER TABLE [dbo].[ScheduleRequests] CHECK CONSTRAINT [CK_ScheduleRequests_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([UserRole]='Admin' OR [UserRole]='Student'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_StudentId] CHECK  (([UserRole]='Admin' OR [UserRole]='Student' AND [StudentId] IS NOT NULL))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_StudentId]
GO
USE [master]
GO
